@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
@* <section class="breadcrumbs-custom bg-image" style="background-image: url(~/images/bg-image-1.jpg);">
    <div class="container">
        <h2 class="breadcrumbs-custom__title">About Us</h2>
        <ul class="breadcrumbs-custom__path">
            <li><a href="index.html">Home</a></li>
            <li class="active">About Us</li>
        </ul>
    </div>
</section> *@
<style>
    .about-area.section-padding {
        padding-top: 60px !important;
        padding-bottom: 80px !important;
    }

    /* 🔹 Row yapısı - Flexbox ile hizalama */
    .about-area .row {
        display: flex !important;
        align-items: stretch !important; /* Değişti: flex-start -> stretch */
    }

        /* 🔹 Kolonlar eşit yükseklikte */
        .about-area .row .col-lg-6 {
            display: flex !important;
            flex-direction: column !important;
        }

    /* 🔹 İçerik stili */
    .about-area .about-content {
        display: flex;
        flex-direction: column;
        height: auto; /* Değişti: 100% -> auto */
    }

        /* 🔹 Başlık Stili */
        .about-area .about-content h3 {
            margin-bottom: 25px !important;
            margin-top: 0 !important;
            font-size: 36px !important;
            font-weight: 700 !important;
            color: #1e3c72 !important;
            font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif !important;
            letter-spacing: -0.5px;
            line-height: 1.2;
        }

        /* 🔹 Paragraf Stili */
        .about-area .about-content p {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            line-height: 1.8 !important;
            font-size: 16px !important;
            color: #333 !important;
            text-align: justify !important;
            font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif !important;
        }

            /* 🔹 Bold metinler için */
            .about-area .about-content p b {
                font-weight: 600;
                color: #1e3c72;
            }

    .about-area .about-image {
        display: block !important;
        position: relative !important;
        width: 100% !important;
        height: 510px !important; /* Metin yüksekliğine göre ayarlayın (örnek: 200px, 250px, 300px) */
        overflow: hidden !important;
    }

        /* 🔹 Görsel - Container'ı tam olarak dolduracak */
        .about-area .about-image img {
            width: 100% !important;
            height: 100% !important; /* Container'ın tam yüksekliği */
            max-height: none !important; /* Sınırlamayı kaldır */
            object-fit: cover !important;
            object-position: center top !important;
            border-radius: 10px !important;
            box-shadow: 0 4px 20px rgba(0,0,0,0.1) !important;
            flex: 1 !important; /* Kalan alanı doldur */
        }
</style>
<!-- Experience since 1999-->
<section class="about-area section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h3 style="color:darkblue; ">@Localizer["AboutUs"]</h3>
                    <p style="text-align:justify;color:black;">
                        <b>ZCN Group</b>, @Html.Raw(Localizer["AboutText"].Value)
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="~/images/ZCNSTOCKS/hakkimizdaindex.png" alt="img">
                    @* <a href="https://www.youtube.com/watch?v=K6q9hLnCZHc" class="video-btn popup-youtube"> <i class="fa fa-play"></i></a> *@
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our History -->
@* <section class="section parallax-container bg-gray-dark" data-parallax-img="~/images/parallax-2.jpg">
    <div class="parallax-content">
        <div class="section-md text-center">
            <div class="container">
                <h2>Our History</h2>
                <div class="timeline">
                    <div class="timeline__item-wrap">
                        <!-- Timeline item-->
                        <article class="timeline__item">
                            <div class="timeline__item-header">
                                <h5>Idea,1999</h5>
                            </div>
                            <div class="timeline__item-main">
                                <img src="~/images/about-4-93x86.jpg" alt="" width="93" height="86" />
                                <p>We started to provide top-notch manufacturing services for our clients.</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline__item-wrap">
                        <!-- Timeline item-->
                        <article class="timeline__item timeline__item-reverse">
                            <div class="timeline__item-header">
                                <h5>Production,2005</h5>
                            </div>
                            <div class="timeline__item-main">
                                <img src="~/images/about-5-93x86.jpg" alt="" width="93" height="86" />
                                <p>We greatly increased the level of production and sales of metal products.</p>
                            </div>
                        </article>
                    </div>
                    <div class="timeline__item-wrap">
                        <!-- Timeline item-->
                        <article class="timeline__item">
                            <div class="timeline__item-header">
                                <h5>Industry Leader,2016</h5>
                            </div>
                            <div class="timeline__item-main">
                                <img src="~/images/about-6-93x86.jpg" alt="" width="93" height="86" />
                                <p>In 2016, we were recognized as the industry leader in the USA.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@


<!-- Social Responsibility & Eco Standards-->
@* <section class="section section-sm bg-default">
    <div class="container">
        <div class="row row-50 justify-content-md-center justify-content-lg-start justify-content-xl-between">
            <div class="col-md-10 col-lg-6">
                <h4>Social Responsibility</h4>
                <p>We are glad to define ourselves as one of socially responsible companies. At Creator, we understand we’re a part of our community and do everything to support it.</p>
                <div class="group-3-columns" data-lightgallery="group">
                    <div class="column-item">
                        <a class="thumb-elegant" href="~/images/image-1-1200x803_original.jpg" data-lightgallery="item">
                            <img src="~/images/image-1-166x139.jpg" alt="" width="166" height="139" />
                            <div class="thumb-elegant__overlay"></div>
                        </a>
                    </div>
                    <div class="column-item">
                        <a class="thumb-elegant" href="~/images/image-2-1200x809_original.jpg" data-lightgallery="item">
                            <img src="~/images/image-2-166x139.jpg" alt="" width="166" height="139" />
                            <div class="thumb-elegant__overlay"></div>
                        </a>
                    </div>
                    <div class="column-item">
                        <a class="thumb-elegant" href="~/images/image-3-1200x800_original.jpg" data-lightgallery="item">
                            <img src="~/images/image-3-166x139.jpg" alt="" width="166" height="139" />
                            <div class="thumb-elegant__overlay"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-5">
                <h4>Eco Standards</h4>
                <p>Here are our environmental certificates that regulate the standards of our environmental cooperation.</p>
                <div class="group-3-columns" style="max-width: 430px;" data-lightgallery="group">
                    <div class="column-item">
                        <a class="thumb-light" href="~/images/certificate-1-847x1200.jpg" data-lightgallery="item">
                            <img src="~/images/certificate-1-120x171.jpg" alt="" width="120" height="171" />
                            <div class="thumb-light__overlay"></div>
                        </a>
                    </div>
                    <div class="column-item">
                        <a class="thumb-light" href="~/images/certificate-1-847x1200.jpg" data-lightgallery="item">
                            <img src="~/images/certificate-1-120x171.jpg" alt="" width="120" height="171" />
                            <div class="thumb-light__overlay"></div>
                        </a>
                    </div>
                    <div class="column-item">
                        <a class="thumb-light" href="~/images/certificate-1-847x1200.jpg" data-lightgallery="item">
                            <img src="~/images/certificate-1-120x171.jpg" alt="" width="120" height="171" />
                            <div class="thumb-light__overlay"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@
