@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<link href="~/css/anasayfa/anasayfaHakkimizda.css" rel="stylesheet" />
	<link href="~/css/anasayfa/anasaydaSlider.css" rel="stylesheet" />
</head>

<!-- Swiper-->
<!-- Start Home Slider Area -->
<div class="home-slider-area">
	<div class="home-slider flickity-dots-absolute" data-flickity='{ "bgLazyLoad": 1, "bgLazyLoad": true, "wrapAround": true, "fade": false, "prevNextButtons": false, "autoPlay": 7000, "pauseAutoPlayOnHover": true }'>
		<div class="home-slider-single-item" data-overlay-dark="0" data-flickity-bg-lazyload="@Url.Content("~/images/ZCN/anasayfa3.png")">
			<div class="container">
				<div class="row d-flex align-items-center justify-content-center">
					<div class="col-12 text-center">
						<div class="home-slider-content">
							<!-- Logo -->
							<div class="logo-container">
								<img src="@Url.Content("~/images/ZCN/logo.png")" alt="ZCN Group Logo" class="slider-logo">
								<h2 class="brand-tagline">Zenith Confidence Nexus</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>

</style>
<section class="about-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="about-content">
					<h3>Hakkımızda</h3>
					<p>
						<b>ZCN Group</b>, mükemmellik anlayışını merkezine alan yenilikçi bir üretim şirketidir.
						Geniş ürün yelpazemiz, güçlü üretim altyapımız ve mühendislik odaklı yaklaşımımızla, müşterilerimizin beklentilerini en üst düzeyde karşılamayı hedefliyoruz.
						Bu doğrultuda, ülkemize değer katarak <b>Türkiye'de ve Avrupa'da saygın, güvenilir ve sürdürülebilir bir marka</b> olmayı temel vizyonumuz olarak belirledik<span class="dots">...</span><a href="/Home/About" class="inline-read-more">
							<span>Devamını Oku</span>
							<svg width="14" height="14" viewBox="0 0 16 16" fill="none">
								<path d="M8 1L15 8L8 15M15 8H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</a>
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="about-image">
					<img src="~/images/ZCNSTOCKS/hakkimizdaindex8.png" alt="img">
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	/* 🔹 SADECE Sektörlerimiz kısmını etkiler */
	section.projects-area.section-padding {
		padding-top: 10px !important; /* üst boşluğu azaltır (varsayılan genelde 100px) */
		padding-bottom: 10px !important; /* alt boşluğu azaltır */
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	/* 🔹 Görsellerin yüksekliğini kısaltır */
	.project-img {
		height: 350px !important; /* İstediğiniz yüksekliği ayarlayın (örn: 250px, 300px) */
		overflow: hidden !important;
	}

		.project-img img {
			width: 100% !important;
			height: 100% !important;
			object-fit: cover !important; /* Görseli kırpmadan kutuya sığdırır */
		}

	.category {
		display: inline-flex !important;
		flex-direction: row !important;
		align-items: center !important; /* Dikey ortalama */
		gap: 6px; /* ikon ile yazı arası boşluk */
	}

	.cat-icon {
		width: 30px;
		height: 30px;
		object-fit: contain;
	}
</style>

<section class="projects-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					
					<h2 style="color:darkblue">Sektörlerimiz</h2>
				</div>
			</div>
			<div class="col-md-12">
				<div id="project-slide" class="owl-carousel owl-theme owl-loaded owl-drag">
					<div class="project-single-item">
						<div class="project-img">
							<img src="~/images/ZCNSTOCKS/savunmaindex.jpg" alt="">
						</div>
						<a href="~/Defense/Index" class="project-overlay-info">
							<span class="category">
								<img src="~/images/ZCN/savunmalogo_favicon.png" class="cat-icon">
								ZCN Savunma
							</span>
							<i class="fa fa-arrow-right"></i>
						</a>



					</div>
					<div class="project-single-item">
						<div class="project-img">
							<img src="~/images/projects/project-1.jpg" alt="">
						</div>
						<a href="~/Solar/Index" class="project-overlay-info">
							<span class="category">
								<img src="~/images/ZCN/yesillogo_favicon.png" class="cat-icon">IEF Solar
							</span>
							@*<h5>House Solar Panel</h5>*@
							<i class="fa fa-arrow-right"></i>
						</a>
					</div>
					<div class="project-single-item">
						<div class="project-img">
							<img src="~/images/ZCNSTOCKS/ambalajindex.jpg" alt="">
						</div>
						<a href="~/Packaging/Index" class="project-overlay-info">
							<span class="category">
								<img src="~/images/ZCN/mavimsilogo_faviocon.png" class="cat-icon">
								NBC Ambalaj</span>
							@*<h5>Ambalaj</h5>*@
							<i class="fa fa-arrow-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
@* <section class="feature-section bg-grey pt-100 pb-70">
	<div class="container">
		<div class="row">
			<!-- Savunma -->
			<div class="col-lg-4 col-md-6">
				<a href="~/Defense/Index" class="feature-single-item-link">
					<div class="feature-single-item">
						<div class="feature-content">
							<h3>Savunma</h3>
							<div class="feature-icon">
								<span class="border-circle"></span>
								<img src="~/images/icons/icon-1.svg" alt="svg icon">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Solar -->
			<div class="col-lg-4 col-md-6">
				<a href="~/Solar/Index" class="feature-single-item-link">
					<div class="feature-single-item">
						<div class="feature-content active">
							<h3>Solar</h3>
							<div class="feature-icon">
								<span class="border-circle"></span>
								<img src="~/images/icons/icon-2.svg" alt="svg icon">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor</p>
						</div>
					</div>
				</a>
			</div>

			<!-- Ambalaj -->
			<div class="col-lg-4 col-md-6">
				<a href="~/Packaging/Index" class="feature-single-item-link">
					<div class="feature-single-item">
						<div class="feature-content">
							<h3>Ambalaj</h3>
							<div class="feature-icon">
								<span class="border-circle"></span>
								<img src="~/images/icons/icon-3.svg" alt="svg icon">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section> *@

<!-- End Feature Section -->
<!-- Start About Section -->


<!-- End About Section -->


<!-- End Projects Section -->